.nav-btn {
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  border: 1px solid rgba(8, 8, 8, 0.404);
}
.input-search {
  border-radius: 25px;
  border: 1px solid rgba(8, 8, 8, 0.404);
}
input {
  height: 30px;
  width: 80%;
}

.absolute-search {
  position: absolute;
  right: 12%;
  top: 40.24%;
}
.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.light {
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.103);
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.account {
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.219);
  margin-right: 10px;
  color: white;
}
iframe {
  width: 100%;
}
.play-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 50px;
  box-shadow: 0px 0px 20px 1px white;
  top: 5px;
  left: 5px;
  padding: 20px;
  color: white;
}
.play-btn-cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 50px;
  box-shadow: 0px 0px 20px 1px white;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  color: white;
}

.movie-name {
  position: absolute;
  color: white;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
}
img {
  width: 100%;
  
  
}
.manga-name {
  position: absolute;
  bottom: 0;
  border-color: 3px solid   white;
  left: 0;
  padding: 10px;
  color: white;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}
.chap {
    border-color: 3px solid white;
    background-color: rgba(0, 0, 0, 0.651);
    box-shadow: 0px 0px 5px 3px white;
    width: fit-content;
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
}
.content    {
    font-size: 25px;
    font-family: sans-serif;
    padding: 30px 5px 10px 5px ;

}
.manga-top {
  position: absolute;
  color: white;
  
  left: 0;
  top: 0;
  padding: 10px;
}

.top-number {
  position: absolute;
  color: white;
background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  width: 100%;
  text-align: right;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
}
.see-more {
    background-color: red;
    color: white;
    outline: none;
    border: 1px solid red;
    padding: 6px 12px 6px 12px;
    text-align: center;

}
.footer {
    padding: 70px 20px 20px 20px;
    color: rgba(0, 0, 0, 0.452);
}
.padding-5 {
    padding-bottom: 5px;
    
}
.padding-10 {
    padding-bottom: 10px;
}
.padding-30 {
    padding-top: 30px;
}
.padding-left {
    padding-left: 5px;
}