body {
  font-family: sans-serif;
}
header {
  background-color: white (209, 21, 21);
  margin: 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #41404023;
}
.header-contact {
  background-color: rgb(45, 190, 45);
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 12.8px;
}
.header-contact2 {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0;
  box-sizing: border-box;
}

.phone-number-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  font-size: 17.6px;
  color: #00b214;
}
.fa-phone-alt {
  margin-left: 10px;
  margin-right: 5px;
}
.sns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  box-sizing: border-box;
  flex-shrink: 1;
  margin-left: 5px;
}
.sns-box {
  margin-left: 10px;
}
.icon {
  margin-left: 10px;
}
* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.container-box {
  box-sizing: border-box;
}

.search-box {
  display: flex;
  align-content: center;
}
.container2 {
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: normal;
  margin-left: auto;
  margin-right: auto;
}
.search {
  display: flex;
  align-items: center;
  padding: 15px;
  border-color: #00b214;
  outline: none;
}
.button-all {
  height: 40px;
  width: 40px;
  border-color: #00b214;
  outline: none;

  background-color: white;
  font-family: sans-serif;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px;
  cursor: pointer;
}
.button-search {
  background-color: #00b214;
  border-color: initial;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
input {
  height: 40px;
  width: 500px;
  border-color: #00b214;
  padding: 0px;
}
.fa-phone-square-alt {
  color: #00b214;
}

.box-nav {
  box-sizing: border-box;
  font-size: 16px;
  color: black;
  padding: 13px;
  flex-grow: 1;
}
.list {
  background-color: #00b214;
  color: white;
  width: 293px;
}
div.cart {
  color: #00b214;
}
.nav-cart:link {
  color: #00b214;
  text-decoration: none;
}
.nav-cart:hover {
  color: black;
}
.nav-cart:visited {
  color: #00b214;
}
.nav:link {
  color: black;
  text-decoration: none;
}

.nav:hover {
  color: #00b214;
}

aside {
  box-sizing: border-box;
  width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}
.box-aside {
  box-sizing: border-box;
  width: 381px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.box-aside-list {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
  border-left: 1px solid rgba(0, 0, 0, 0.281);
}
.box-aside-image {
  background-color: rgba(0, 0, 0, 0.055);

  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
}
main {
  display: flex;
  justify-content: center;
}
.main-big-box {
  width: 1200px;
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
  flex-direction: column;
  box-sizing: border-box;
}
.main-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.main-content-box {
  display: flex;
  flex-direction: column;
  color: #00b214;
  font-size: 25.6px;
  box-sizing: border-box;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
}

.fa-pagelines {
  transform: rotate(60deg);
  color: #335c38;
}
.main-box2 {
  display: flex;
  width: 1200px;
  box-sizing: border-box;
}
.box1 {
  display: flex;
  padding: 10px;
  align-items: center;
  flex-grow: 1;
  box-shadow: -5px 10px 4px rgba(0, 0, 0, 0.096);
  width: 25%;
}
.text-box1 {
  padding: 5px;
}
.items-image {
  width: 150px;
  height: 150px;
}
.items:hover {
  color: rgb(124, 250, 124);
}
.items:link {
  color: #00b214;
  text-decoration: none;
}

p {
  color: hotpink;
  font-size: 14.4;
  display: inline-block;
}

.content-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.list-sub {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.link-list-see-all {
  background-color: #8cca46;
  color: white;
  border-radius: 5px;
  border-color: #8cca46;
  font-weight: bold;
  height: 30px;
  vertical-align: text-bottom;
}
.link-list-sub {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}
.link-list-sub:hover {
  color: #64ca70;
}
.link-list-sub:link {
  color: rgba(26, 26, 26, 0.473);
  text-decoration: none;
}
.main-box3 {
  display: flex;
  box-sizing: border-box;
  flex-flow: column nowrap;
  align-items: center;
}
.box-office {
  display: flex;
  box-sizing: border-box;
}
.office-items-images {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 1;
  width: 20%;
  height: max-content;
  padding: 10px;
  box-shadow: -5px 10px 4px rgba(0, 0, 0, 0.096);
}

del {
  display: inline-block;
}
.money {
  padding: 10px;
}
footer {
  border-top-color: rgba(0, 0, 0, 0.959);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-box {
  display: flex;
  box-sizing: border-box;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.cover-box-1 {
  flex-grow: 1;
  width: 350px;
}
.cover-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.cover-box-3 {
  flex-grow: 1;
}
.inside-box {
  margin: 10px;
  box-sizing: border-box;
}
ul {
  color: #8cca46;
}
.sign-in {
  background-color: #8cca46;
  color: #fff;
  border-radius: 10px;
  height: 50px;
  font-weight: 800;
}
